body{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
}

ul li {
    list-style:none;
}

div ul {
    /* border: solid black; */
}

.toDo{
    width: 33%;
    border: solid rgb(228, 147, 26);
    border-radius: 29px;
    background-color: rgb(223, 174, 67);
}

input#todo {
    width: 60%;
    height: 20%;
    border-radius: 40px;
    background-color: rgb(204, 204, 204);
}

button {
    background-color: rgb(219, 219, 219);
}

button.delete:hover{
    /* border-radius: 100%; */
    background-color: rgb(224, 115, 115);
}

